.myCard {
  width: 12rem;
  height: 14rem;
  background: white;
  border: 2px solid #666;
  transition: transform 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transform: scale(0.9);
}

.myCard:hover {
  transform: scale(1);
  border-color: red;
  z-index: 2;
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  background-color: #e0e0e0;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 999px;
  transition: all 0.3s ease;
  text-align: center;
}

.myCard:hover .cardTitle {
  background-color: red;
  color: white;
}

.cardImageContainer {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 600px) {
  .cardImageContainer {
    display: none;
  }

  .myCard {
    height: auto;
  }
}
