.carousel {
  display: flex;
  height: 100%;
  transition: transform 10s linear;
}

.carousel img {
  height: 100%;
  width: auto;
  object-fit: cover;
  user-select: none;
}

.active {
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
